<%- include('header.ejs') %>


<%- include('nav.ejs') %>


        <div class="max-w-7xl mx-auto px-8 mt-10">
            <div class="header flex items-end justify-between mb-12">
                <div class="title">
                    <p class="text-4xl font-bold text-gray-800 mb-4">
                        Gallery of beautiful views
                    </p>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
                <div class="overflow-hidden shadow-lg rounded-lg h-90 w-80 md:w-80 cursor-pointer m-auto">
                    <a href="#" class="w-full block h-full">
                        <img alt="blog photo" src="https://via.placeholder.com/300"
                            class="max-h-100 w-full object-cover" />
                    </a>
                </div>
            </div>

<%- include('footer.ejs') %>